body{
margin:0;
background:black;
color:#00ff99;
font-family:monospace;
text-align:center;
}

.hidden{
display:none;
}

.hero{
padding:120px 20px;
background:radial-gradient(circle,#001a0a,#000);
}

.logo{
font-size:55px;
letter-spacing:6px;
animation:flicker 2s infinite;
}

.subtitle{
opacity:.7;
}

.section{
padding:80px 10%;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:40px;
}

.card{
border:1px solid #00ff99;
padding:30px;
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 0 20px #00ff99;
}

.terminal{
border:1px solid #00ff99;
padding:20px;
height:250px;
overflow:auto;
text-align:left;
}

#terminalInput{
width:100%;
padding:10px;
background:black;
color:#00ff99;
border:1px solid #00ff99;
margin-top:10px;
}

@keyframes flicker{
0%{opacity:1}
50%{opacity:.7}
100%{opacity:1}
}
